services:
  tailscale:
    container_name: tailscale
    image: tailscale/tailscale:latest
    hostname: "{{ ansible_hostname }}"
    volumes:
      - /var/lib/tailscale:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - TS_AUTHKEY={{ lookup('env', 'TAILSCALE_AUTH_KEY') }}
      - TS_HOSTNAME={{ ansible_hostname }}
    restart: unless-stopped
